
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-card {
  width: 200px;
  height: 250px !important;
  border: 1px solid grey;
  padding: 2px;
  margin: 5px;
  img {
    width: 100%;
    height: 200px;
  }
}

.author {
  text-align: center;
}

cdk-virtual-scroll-viewport {
  height: 95vh;
  border: 1px solid grey;
}